.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #ffffff;
  font-size: 12pt;
  background: rgba(255, 255, 255, 0.2);
}